SECRET_KEY=секретный ключ django
POSTGRES_DB=название бд
POSTGRES_USER=пользователь бд
POSTGRES_PASSWORD=пароль от бд
POSTGRES_HOST=хост бд
DATABASE_PORT=порт бд
EMAIL_HOST=емаил хост
EMAIL_PORT=емаил порт
EMAIL_HOST_USER=ваша электронная почта
EMAIL_HOST_PASSWORD=пароль от почты
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0