<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'img/bavaria-7219.png' %}" rel="icon">
    <title>{% block title %}Bavaria Stube{% endblock %}</title>
</head>
<body>
{% include 'attendance/includes/header.html' %}

<main class="container my-4">
    {% block content %}{% endblock %}
</main>

{% include 'attendance/includes/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"  crossorigin="anonymous"></script>


</body>
</html>