{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по ссылке для сброса пароля:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Ваш логин:" %} {{ user.get_username }}

{% translate "Спасибо за использование нашего сайта!" %}

{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}