{% extends 'attendance/base.html' %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="form-container shadow-sm">
    <h2 class="mb-4 text-center">Введите новый пароль</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                <div class="text-danger small mt-1">{{ form.new_password1.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                <div class="text-danger small mt-1">{{ form.new_password2.errors.0 }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary w-100">Сменить пароль</button>
    </form>
</div>
{% endblock %}
